<html>
<head>
  <link rel="stylesheet" href="/assets/css/blame.css" />
  <title>File {{.path}} at {{.commitHash}}</title>
</head>
<body><div id="content"><b>{{- .path}}</b>
at commit {{.commitHash}}

{{.content}}</div>
{{with .blame}}<div id="hashes">{{if .PreviousCommit}}«Previous commit
{{- else}}                {{end}}{{if .NextCommit}}     Next commit»
{{- end}}
<a href="{{.PreviousCommit}}">{{.PreviousCommit}}</a> {{if .NextCommit}}<a href="{{.NextCommit}}">{{.NextCommit}}</a>{{end}}

{{range .Lines -}}
{{if .PreviousCommit}}<a href="{{.PreviousCommit}}#a{{.PreviousLineNumber}}">{{.PreviousCommit}}</a> {{if .NextCommit}}<a href="{{.NextCommit}}#d{{.NextLineNumber}}">{{.NextCommit}}</a>{{else}} (still exists) {{end}}{{end}}{{if .OldLineNumber}} {{.OldLineNumber | printf "%4d"}}{{end}} {{.NewLineNumber | printf "%4d"}}
{{end}}
</div>{{end}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="/assets/raw-js/blame.js"></script>
</body>
</html>
