body, #prev, #next {
    margin: 8px;
}
body {
    white-space: pre;
    font-family: "Menlo", "Consolas", "Monaco", monospace;
    font-size: 12px;
    margin-left: 296px;
}
#prev {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
#prev a {
    color: gray;
    text-decoration: none;
}
#prev a.bump {
    color: black;
}
#prev a.bump:before {
    position: absolute;
    left: 0;
    z-index: -2;
    box-sizing: border-box;
    width: 100%;
    border-style: solid;
    border-width: 0 0 0 280px;
    border-color: white;
    content: "+";
    background-color: #c0f8c0;
    color: green;
}
#prev a.bump:hover:before {
    background-color: #90EE90;
}